@tailwind base;
@tailwind components;
@font-face {
  font-family: 'Palette Mosaic', 'cursive', 'sans-serif';
  src: local('Palette Mosaic'), url('./fonts/PaletteMosaic-Regular.ttf') format('ttf');
}
@tailwind utilities;
html{
  scroll-behavior: smooth;
}
body{
    background-color: whitesmoke;
    min-width: 100vw;
    transition: color 0.5s, background-color 0.5s;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button,a,input{
  min-height: 44px;
  min-width: 44px;
}
